In [1]:
d = 3
str(d)

'3'

In [5]:
l=[[Nan,'0'],['0','0']]
l

NameError: name 'Nan' is not defined

In [6]:
import pandas as pd
df=pd.DataFrame(l)
df.columns=['fs','ds']
df

     fs ds
0  None  0
1     0  0

In [3]:
if df.loc[0,'fs']:
    print('ha')

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('interim/all_sent.csv')
df

,idx,text,main_heading,heading,topic,paper_idx,BIO,BIO_1,BIO_2,offset,mask,bi_labels,labels
0,1,title,NaN,NaN,machine-translation,0,NaN,NaN,NaN,0,1,0,NaN
1,2,Learning Phrase Representations using RNN Enco...,title,title,machine-translation,0,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...",1,1,1,research-problem
2,3,abstract,NaN,NaN,machine-translation,0,NaN,NaN,NaN,0,1,0,NaN
3,4,"In this paper , we propose a novel neural netw...",abstract,abstract,machine-translation,0,NaN,NaN,NaN,1,1,0,NaN
4,5,One RNN encodes a sequence of symbols into a f...,abstract,abstract,machine-translation,0,NaN,NaN,NaN,2,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66679,408,APPENDIX B EM ALGORITHM FOR GLCU E - STEP :,D. Topic ID results,VIII .,topic_models,0,NaN,NaN,NaN,50,1,0,NaN
66680,409,Obtaining the posterior distribution of latent...,D. Topic ID results,VIII .,topic_models,0,NaN,NaN,NaN,51,1,0,NaN
66681,410,Using the results from,NaN,NaN,topic_models,0,NaN,NaN,NaN,0,1,0,NaN
66682,411,resulting in :,Using the results from,Using the results from,topic_models,0,NaN,NaN,NaN,1,1,0,NaN
66683,412,Taking derivative with respect to shared preci...,Using the results from,Using the results from,topic_models,0,NaN,NaN,NaN,2,1,0,NaN

In [7]:
d = df[:5]

In [26]:
import numpy as np
l=np.array([1,1,1,1,1])
l

array([1, 1, 1, 1, 1])

In [27]:
d

,idx,text,main_heading,heading,topic,paper_idx,BIO,BIO_1,BIO_2,offset,mask,bi_labels,labels
0,1,title,NaN,NaN,machine-translation,0,NaN,NaN,NaN,0,1,0,NaN
1,2,Learning Phrase Representations using RNN Enco...,title,title,machine-translation,0,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...",1,1,1,research-problem
2,3,abstract,NaN,NaN,machine-translation,0,NaN,NaN,NaN,0,1,0,NaN
3,4,"In this paper , we propose a novel neural netw...",abstract,abstract,machine-translation,0,NaN,NaN,NaN,1,1,0,NaN
4,5,One RNN encodes a sequence of symbols into a f...,abstract,abstract,machine-translation,0,NaN,NaN,NaN,2,1,0,NaN

In [28]:
t=np.array(d['bi_labels']==1,dtype=int)
t

array([0, 1, 0, 0, 0])

In [29]:
l[t]

array([1, 1, 1, 1, 1])

In [30]:
d['bi_labels'].values

array([0, 1, 0, 0, 0], dtype=int64)

In [33]:
a=np.array([1,1,1,1,1])
b=np.array([0,1,0,1,0])

In [34]:
a*b

array([0, 1, 0, 1, 0])